.notification {
    position: absolute;
    right: 10px;
    z-index: 10;
    cursor: pointer;

    &.undefined {
        display: none;
    }

    &.warning {
        padding: 1.5rem 3rem;
        color: white;
        background-color: rgba(#C59F19, 0.7);
        border-radius: 0.5rem;
        font-weight: bold;
    }

    &.success {
        padding: 1.5rem 3rem;
        color: green;
        background-color: rgba(lightgreen, 0.7);
        border-radius: 0.5rem;
        font-weight: bold;
    }

    &.error {
        padding: 1.5rem 3rem;
        color: #FD0100;
        background-color: rgba(241, 179, 179, 0.7);
        border-radius: 0.5rem;
        font-weight: bold;
    }
}