.home {
    background:  url('../../images/wallstreetbets2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .main-title {
        text-align: center;
        font-size: 2rem;
    }
}

.yellow {
    color: #DBB419;
}